<template>
  <f7-page>
    <f7-navbar title="Organizations" back-link="Back" sliding></f7-navbar>
    <f7-list inset>
      <f7-list-button v-for="item in organizations" :org-id="item['.key']" @click="openOrg(item['.key'])" :key="item['.key']">{{item.orgName}}</f7-list-button>
    </f7-list>
  </f7-page>
</template>
<script>
    export default{
    props:['organizations'],
      methods:{
        openOrg: function(orgId){
          this.$parent.$router.load({url:`/organizations/${orgId}`})
        }
      }
    }
</script>
