<template>
  <f7-page>
    <f7-navbar :title="org.orgName"  back-link="Back" sliding></f7-navbar>
    <f7-list accordion>
      <f7-list-item accordion-item title="Location" >
        <f7-accordion-content>
          <f7-block>
            <f7-list inset>
              <f7-list-item :title="org.city" after="City"></f7-list-item>
              <f7-list-item :title="org.state" after="State"></f7-list-item>
              <f7-list-item :title="org.zip" after="Zip"></f7-list-item>
            </f7-list>
          </f7-block>
        </f7-accordion-content>
      </f7-list-item>
      <f7-list-item accordion-item title="Contacts" >
        <f7-accordion-content>
          <f7-block>
            <f7-list >
              <f7-list-item v-for="contact in org.contacts" :title="contact.contact_name"></f7-list-item>
            </f7-list>
          </f7-block>
        </f7-accordion-content>
      </f7-list-item>
    </f7-list>
  </f7-page>
</template>
<script>
    export default{
      props: ['org']
    }
</script>
