<template>
  <f7-page>
    <f7-navbar title="Create User"  sliding></f7-navbar>
  <f7-list id="user" form>
    <f7-list-item>
      <f7-label>Organization</f7-label>
      <f7-input type="select" name="org">
        <option v-for="org in organizations" :value="org['.key']">{{org.orgName}}</option>
      </f7-input>
    </f7-list-item>
    <f7-list-item>
      <f7-label>First Name</f7-label>
      <f7-input type="text" placeholder="First Name" name="firstName"></f7-input>
    </f7-list-item>
    <f7-list-item>
      <f7-label>Last Name</f7-label>
      <f7-input type="text" placeholder="Last Name" name="lastName"></f7-input>
    </f7-list-item>
    <f7-list-item>
      <f7-label>User Type</f7-label>
      <f7-input type="select" name="type">
        <option value="assistant">Assistant Coach</option>
        <option value="head">Head Coach</option>
        <option value="admin">Admin</option>
      </f7-input>
    </f7-list-item>
    <f7-list-item>
      <f7-label>Email</f7-label>
      <f7-input type="email" placeholder="email" name="email"></f7-input>
    </f7-list-item>
    <f7-list-item>
      <f7-label>Password</f7-label>
      <f7-input type="password" placeholder="password" name="password"></f7-input>
    </f7-list-item>
    <f7-list-item>
      <f7-label>Confirm Password</f7-label>
      <f7-input type="password" placeholder="password" name="confirmPassword"></f7-input>
    </f7-list-item>
  </f7-list>
    <f7-grid>
      <f7-col>
        <f7-button @click="$parent.$router.back()" fill color="red">
          Cancel
        </f7-button>
      </f7-col>
      <f7-col>
        <f7-button @click="addOrganization()" fill color="green">
          Submit
        </f7-button>
      </f7-col>
    </f7-grid>
  </f7-page>
</template>
<script>
import {database} from 'helper/firebaseAdapter'
export default{
  firebase:{
    organizations: database.ref('organizations')
  },
methods:{
addOrganization:function(){
debugger
}
}
    }
</script>
