<template>
    <div>
        <header-component/>
        <div>this is template body</div>
        <other-component/>
    </div>
</template>
<style>
    body{
        background-color:#ff0000;
    }

</style>
<script>
    import Organization from './organization.vue'

    export default{
        template: '<organization :id="this.$route"></organization>'
        data(){
            return{
                msg:'hello vue'
            }
        },
        components:{
        }
    }

</script>
