<template>
  <gr-org-list :organizations=""></gr-org-list>
</template>
<script>
    import {database} from 'helper/firebaseAdapter'
    export default{
        data:function(){
        console.log(this)
          let id = this.$route.params.id
          let org = this.$root.$data.organizations[id]
          return {org}
        }
    }
</script>
