<template>
  <f7-page>
    <f7-navbar title="Create Organization"  sliding></f7-navbar>
    <f7-block-title>Organization Info</f7-block-title>
  <f7-list id="org" form>
    <f7-list-item>
      <f7-icon slot="media" material="location_city"></f7-icon>
      <f7-label>Name</f7-label>
      <f7-input type="text" placeholder="Name" name="orgName"></f7-input>
    </f7-list-item>
    <f7-list-item>
      <f7-icon slot="media" material="subdirectory_arrow_right"></f7-icon>
      <f7-label>City</f7-label>
      <f7-input type="text" placeholder="City" name="city"></f7-input>
    </f7-list-item>
    <f7-list-item>
      <f7-icon slot="media" material="subdirectory_arrow_right"></f7-icon>
      <f7-label>State</f7-label>
      <f7-input type="text" placeholder="State" name="state"></f7-input>
    </f7-list-item>
    <f7-list-item>
      <f7-icon slot="media" material="subdirectory_arrow_right"></f7-icon>
      <f7-label>ZIP</f7-label>
      <f7-input type="text" placeholder="ZIP" name="zip"></f7-input>
    </f7-list-item>
    <f7-list-item>
      <f7-icon slot="media" material="subdirectory_arrow_right"></f7-icon>
      <f7-label>Type</f7-label>
      <f7-input type="select" name="category">
        <option value="varsity">Varsity</option>
        <option value="college">College</option>
        <option value="professional">Professional</option>
      </f7-input>
    </f7-list-item>
  </f7-list>
    <f7-grid>
      <f7-col>
        <f7-button @click="$parent.$router.back()" fill color="red">
          Cancel
        </f7-button>
      </f7-col>
      <f7-col>
        <f7-button @click="addOrganization()" fill color="green">
          Submit
        </f7-button>
      </f7-col>
    </f7-grid>
  </f7-page>
</template>
<script>
export default{
methods:{
addOrganization:function(){
  let newId = this.$root.$firebaseRefs.organizations.push()
  newId.set(this.$f7.formToJSON('#user'))
}
}
    }
</script>
