<template>
  <f7-fab-speed-dial>
    <!-- Actions -->
    <f7-fab-actions>
      <f7-fab-action color="orange" href="/create/device/"><f7-icon material="android"></f7-icon></f7-fab-action>
      <f7-fab-action color="green"  href="/create/user/"><f7-icon material="person"></f7-icon></f7-fab-action>
      <f7-fab-action color="purple" href="/create/organization/"><f7-icon material="business"></f7-icon></f7-fab-action>
    </f7-fab-actions>
    <!-- FAB -->
    <f7-fab>
      <!-- First icon to open Actions -->
      <f7-icon icon="icon-plus"></f7-icon>
      <!-- Second icon to close Actions -->
      <f7-icon icon="icon-close"></f7-icon>
    </f7-fab>
  </f7-fab-speed-dial>
</template>
<script>
    export default{}
</script>
