<template>
    <!-- Right Panel -->
    <f7-panel right cover layout="dark">
        <f7-view id="right-panel-view" navbar-through :dynamic-navbar="true">
            <f7-navbar title="Go Rout Admin" sliding></f7-navbar>
            <f7-pages>
                <f7-page>
                    <f7-block-title>Create New ...</f7-block-title>
                    <f7-list>
                      <f7-list-item link="/create/organization/" title="Organization" link-view="#main-view" link-close-panel></f7-list-item>
                      <f7-list-item link="/create/user/" title="User" link-view="#main-view" link-close-panel></f7-list-item>
                      <f7-list-item link="/create/device/" title="Device" link-view="#main-view" link-close-panel></f7-list-item>
                    </f7-list>
                </f7-page>
            </f7-pages>
        </f7-view>
    </f7-panel>
</template>
<script>
    export default{}
</script>
