<template>
  <app :data="data"></app>
</template>
<script>
  //Component imports
  import 'helper/isMobile'
  import Desktop from './DesktopApp'
  import Mobile from './MobileApp'
  let App = null
  if(navigator.isMobile){
    App = Mobile
  }else{
    App = Desktop
  }

  export default{
    props: ['data'],
    components:{
      App
    }
  }
</script>
