<template>
    <div>
        <header-component/>
        <div>this is template body</div>
        <other-component/>
    </div>
</template>
<script>
    export default{
      props:['data']
     }
</script>
