<template>
  <!-- App -->
  <div id="app">

    <!-- Statusbar -->
    <f7-statusbar></f7-statusbar>
    <right-panel v-if="$theme.ios"></right-panel>
    <left-panel></left-panel>
    <!-- Main Views -->
    <f7-views>
      <f7-view id="main-view" navbar-through toolbar-fixed main :dynamic-navbar="true">
        <f7-navbar v-if="$theme.ios" sliding>
          <f7-nav-left>
            <f7-link icon="icon-bars" open-panel="left"></f7-link>
          </f7-nav-left>
          <f7-nav-center>Go Rout Admin</f7-nav-center>
          <f7-nav-right>
            <f7-link icon="icon-bars" open-panel="right"></f7-link>
          </f7-nav-right>
        </f7-navbar>
        <f7-pages navbar-fixed toolbar-fixed>
          <f7-page>
            <!-- For Material theme we use navbar-fixed layout so the navbar should be a child of the Page -->
            <f7-navbar v-if="$theme.material" navbar-fixed>
              <f7-nav-left>
                <f7-link icon="icon-bars" open-panel="left"></f7-link>
              </f7-nav-left>
              <f7-nav-center>
                Go Rout Admin
              </f7-nav-center>
            </f7-navbar>
            <!-- Page content -->
            <f7-list inset>
              <f7-list-button color="blue" href="/organizations/" title="Organizations"></f7-list-button>
              <f7-list-button color="blue" href="/users/" title="Users"></f7-list-button>
              <f7-list-button color="blue" href="/devices/" title="Devices"></f7-list-button>
            </f7-list>
            <!-- Button to open popup -->
            <f7-button open-popup="#my-popup">Open Popup</f7-button>
            <floating-action-button v-if="$theme.material" ></floating-action-button>
          </f7-page>
        </f7-pages>

      </f7-view>
    </f7-views>

    <!-- Popup -->
    <f7-popup id="popup">
      <f7-view navbar-fixed>
        <f7-pages>
          <f7-page>
            <f7-navbar title="Popup">
              <f7-nav-right>
                <f7-link close-popup>Close</f7-link>
              </f7-nav-right>
            </f7-navbar>
            <f7-block>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, architecto. Cupiditate laudantium rem nesciunt numquam, ipsam. Voluptates omnis, a inventore atque ratione aliquam. Omnis iusto nemo quos ullam obcaecati, quod.</f7-block>
          </f7-page>
        </f7-pages>
      </f7-view>
    </f7-popup>

    <!-- Login Screen -->
    <f7-login-screen id="login-screen">
      <f7-view>
        <f7-pages>
          <f7-page login-screen>
            <f7-login-screen-title>Login</f7-login-screen-title>
            <f7-list form>
              <f7-list-item>
                <f7-label>Username</f7-label>
                <f7-input name="username" placeholder="Username" type="text"></f7-input>
              </f7-list-item>
              <f7-list-item>
                <f7-label>Password</f7-label>
                <f7-input name="password" type="password" placeholder="Password"></f7-input>
              </f7-list-item>
            </f7-list>
            <f7-list>
              <f7-list-button title="Sign In" close-login-screen></f7-list-button>
              <f7-list-label>
                <p>Click Sign In to close Login Screen</p>
              </f7-list-label>
            </f7-list>
            <f7-list>
              <img  @click="loginWithGoogle()" src="./assets/btn_google_signin.png" />
            </f7-list>
          </f7-page>
        </f7-pages>
      </f7-view>
    </f7-login-screen>

  </div>
</template>

<script>
import RightPanel from './components/right-panel'
import LeftPanel from './components/left-panel'
import FloatingActionButton from './components/floating-action-button'
export default {
  props:['data'],
  methods:{
    loginWithGoogle:function(){
      this.$root.loginGoogle()
    }
  },
  components:{
    'right-panel':RightPanel,
    'left-panel':LeftPanel,
    'floating-action-button':FloatingActionButton
  }
}
</script>
